[2014-02-20 19:44] jimkont opened #4 "Handle subproperties"
subproperties are not handled correctly at the moment. There are 2 cases:
  1. they derive the domain & range (and other axioms) from their superproperties so we miss some validations tests.
  2. they return false violations on cardinality constrains.

For (1) we can create additional generators that produce the same tests for their superproperties (need to think of side-effects)

For (2) we need

[2014-05-03 13:50] jimkont opened #5 "Multiple domains / ranges handling"
At the moment multiple domain & ranges are not supported and when exists, probably give false negatives

[2014-05-04 06:22] jimkont opened #6 "Provide the complete errorneous triple"
At the moment we provide subject / predicate, we should also provide the object value when applicable (e.g. we cannot when checking existence).

This should be part of the extended results format

[2014-05-04 06:24] jimkont opened #7 "Check RDF directly from web demo"
At the moment the web demo supports only SPARQL endpoints.

Something like text area where users paste RDF or a URI to download
(TODO: check file size limit)

[2014-05-05 09:23] kurzum opened #8 "CLI test reload fails (very unimportant)"
bin/rdfunit -d ../NLP2RDF/ontologies/nif-core/example.ttl -s ../NLP2RDF/ontologies/nif-core/nif-core.ttl

https://github.com/AKSW/RDFUnit/blob/master/rdfunit-core/src/main/java/org/aksw/rdfunit/sources/SchemaSource.java#L49

-> load ontology fails first, but results/tests is written with 0 tests
-> on second run on CLI tests are loaded from cache

[2014-05-05 09:47] kurzum opened #9 "CLI final message"
2014-05-05 11:45:17,351 [org.aksw.rdfunit.Main.main()] INFO  org.aksw.rdfunit.Main: Tests run: 110, Failed: 0, Timeout: 0, Error: 0. Individual Errors: 0

you could add:
"test written to file____home_sebastian_svn_NLP2RDF_ontologies_nif-core_example.owl.aggregatedTestCaseResult.*"

[2014-05-05 09:50] kurzum opened #10 "CLI startup needs too long"
I assume, that CLI needs so much initial time, because it loads a lot of data from lov.okfn.org

This is annoying for dev mode, i.e. I make many small changes to the ontology schema and then I want to rerun the CLI to check the result.

an option to disable caching on file would also be nice. so I don't need to do
"rm data/tests" all the time

[2014-05-05 09:57] #9 closed, assigned to jimkont

[2014-05-05 11:40] #10 closed, assigned to jimkont

[2014-05-05 11:44] jimkont opened #11 "Create a DataLimitReader"
Limit the size of the dataset. Throws an exception when above a certain limit

[2014-05-05 11:46] jimkont opened #12 "Create a DataCompressedReader"
in order to handle compressed datasets
todo: check what type of compression to support (zip, gz, bzip2)

[2014-05-08 06:59] jimkont opened #13 "Add timestamp in test results"

[2014-05-08 10:36] #13 closed, assigned to nobody

[2014-05-22 07:12] jimkont opened #14 "use InputStream as input for DataWriters (where applicable)"
this way any stream can be used for the output

[2014-05-27 15:06] #14 closed, assigned to nobody

[2014-06-17 06:54] jimkont opened #15 "Add all manual prov test cases"
Copy them from https://github.com/pgroth/prov-constraints-validator-spin

[2014-06-17 06:55] jimkont opened #16 "Use enum RLOGLevel for resolving log levels"

[2014-06-17 06:57] jimkont opened #17 "Set test cache expiration option"
related to #8

[2014-06-17 06:57] #8 closed, assigned to jimkont

[2014-06-17 15:51] jimkont opened #18 "ASK queries fail with cardinallity patterns"

[2014-06-17 17:20] #16 closed, assigned to nobody

[2014-08-12 12:04] LorenzBuehmann opened #19 "Wrong inverse functional pattern"
The built-in pattern rutp:INVFUNCT in https://github.com/AKSW/RDFUnit/blob/master/rdfunit-core/src/main/resources/org/aksw/rdfunit/patterns.ttl is obviously wrong:

[code]

If you have a look at the second part of the UNION, neither `?a` nor `?b` is usually a class, and there is a missing triple pattern which connects the type of `?a` (resp. `?b`) with the `rdfs:subClassOf` triple pattern, i.e. it

[2014-08-18 19:05] #19 closed, assigned to nobody

[2014-08-22 07:32] #18 closed, assigned to nobody

[2014-08-27 19:42] jimkont opened #20 "add schema.org support"

[2014-08-27 22:12] jimkont opened #21 "support rdf:langString"

[2014-08-27 22:46] #21 closed, assigned to nobody

[2014-08-28 08:26] jimkont opened #22 "Add DSP support"
Description Set Profiles: A constraint language for Dublin Core Application Profiles
http://dublincore.org/documents/dc-dsp/

[2014-08-28 08:26] jimkont opened #23 "Add IBM ResourceShapes support"
http://www.w3.org/Submission/2014/SUBM-shapes-20140211/

[2014-08-28 16:44] #6 closed, assigned to nobody

[2014-08-30 14:59] #11 closed, assigned to nobody

[2014-09-12 14:06] LaurensRietveld opened #24 "Installing RDFUnit: missing documentation and errors"
Installing RDFUnit is tricky. I could not find documentation on what file to run.

I tried ./build-deb-package.sh, which produced git and dch errors at first. I fixed the first error by cloning the repo instead of downloading the tar.gz release. The second error was fixed by installing the devscripts package. However, building the deb failed eventually with the maven error I've copy pasted below (

[2014-09-12 14:19] #24 closed, assigned to nobody

[2014-10-30 07:29] jimkont opened #25 "Create Debian package"

[2014-10-30 07:29] jimkont opened #26 "OWL Qualified cardinality on datatype"

[2014-10-31 13:36] #25 closed, assigned to nobody

[2014-12-02 20:37] rybesh opened #27 "RDFUnit does not build due to javadoc errors"
I would really like to try RDFUnit; unfortunately following the [build instructions](https://github.com/AKSW/RDFUnit/wiki/CLI#download--build-rdfunit) leads to numerous Javadoc build errors and the necessary jars do not get compiled. I recommend using something like Travis CI to ensure that your build actually works on a fresh clone.

[2014-12-03 14:37] #27 closed, assigned to nobody

[2015-03-09 20:50] JakubKanaVSE opened #32 "pc:profile testing problem"
I have RDF/XML data. Everything is checked fine but pc:profile isn't. I have this result.

![ashampoo_snap_2015 03 09_21h44m16s_002_](https://cloud.githubusercontent.com/assets/6625593/6564009/b2e30c2e-c6a5-11e4-8cfe-3324224f8379.png)

Over this data
[code]
I belive there is no problem with this Literal within <pc:profile> element.

Ontology says this

https://code.google.com/p/public-contracts-on

[2015-03-09 21:32] jimkont commented on #32
Can you send me the triple that has a problem in turtle?

From the definition PC: profile should be a URI but a literal is found
instead

[2015-03-09 21:39] JakubKanaVSE commented on #32
Here it is.

<http://linked.opendata.cz/resource/ted.europa.eu/business-entity/c64aa269-bc65-4159-b82e-8691a5535f25> <http://purl.org/procurement/public-contracts#profile> "www.e-licitatie.ro"^^<http://www.w3.org/2001/XMLSchema#anyURI> .

[2015-03-09 21:50] JakubKanaVSE commented on #32
If I use rdf:resource="URL" I get this weird triple from RDF/XML (I am using Apache Jena RIOT command line tool)

<http://linked.opendata.cz/resource/ted.europa.eu/business-entity/c64aa269-bc65-4159-b82e-8691a5535f25> <http://purl.org/procurement/public-contracts#profile> "www.e-licitatie.ro"^^<http://www.w3.org/2001/XMLSchema#anyURI> .

I don't know why is there whole how to say it "PATH" and aft

[2015-03-09 22:09] jimkont commented on #32
technically "www.e-licitatie.ro"^^http://www.w3.org/2001/XMLSchema#anyURI
is a literal
it should be the following to be correct
`<
http://linked.opendata.cz/resource/ted.europa.eu/business-entity/c64aa269-bc65-4159-b82e-8691a5535f25

however this is a common case and I would mark it as a soft error. The
correct RDF/XML should be like this:
[code]

[2015-03-09 22:11] jimkont commented on #32
the reason you get `file:///D:/Dropbox/Bakalářská%20práce/Data/Extracts/Extracts/F04/Extract/` as a prefix is because you skip the `http://` before the URI and it is marked as relative to the file's path

[2015-03-10 06:46] jindrichmynarz commented on #32
Is it correct to assume that in case of `rdfs:range xsd:anyURI` RDFUnit does not expect datatyped literal but an individual instead? That is, is the following correct?

[code]

And is the following incorrect?

[code]

In the case of `pc:profile`, the second interpretation was intended to be correct. We chose `rdfs:range` of literal values because links to profiles of contracting authorities were f

[2015-03-10 08:55] jimkont commented on #32
Is it correct to assume that in case of rdfs:range xsd:anyURI RDFUnit does

strictly yes, see
https://lists.w3.org/Archives/Public/semantic-web/2010Jul/0396.html

(instead of owl:DatatypeProperty) if you only use literals and RDFUnit will
not complain

--
Kontokostas Dimitris

[2015-03-10 09:26] jimkont commented on #32
Sorry, I see the actual problem now, you state `pc:profile` to be an `owl:InverseFunctionalProperty`  which is a subclass of `owl:ObjectProperty` [1] and an `owl:DatatypeProperty` which is a contradiction.
Even if you change the value to a URI, RDFUnit will still raise errors due to the existence of both rules.
So you should adapt the `pc:profile` definition.

[1] http://www.w3.org/TR/owl-ref/#Inv

[2015-03-10 10:29] jindrichmynarz commented on #32
Thanks for catching this bug. I have removed the `owl:InverseFunctionalProperty` membership for `pc:profile` in the Public Contracts Ontology repository.

However, you quote <https://lists.w3.org/Archives/Public/semantic-web/2010Jul/0396.html> as support for the claim that the following triple is incorrect, while I think it supports the contrary position.

[code]

In other words, if `pc:profile` i

[2015-03-10 10:33] jimkont commented on #32
This was before I notice the property definition contradiction and thought
`pc:profile` as an object property only.
If you make that change, RDFUnit will not complain

[2015-03-10 10:37] jindrichmynarz commented on #32
Great. Then I think @JakubKanaVSE can close this issue, as this wasn't an RDFUnit bug, but a bug of Public Contracts Ontology.

[2015-03-10 10:47] JakubKanaVSE commented on #32
OK, I am closing issue. Thank you for your help.

[2015-03-13 16:24] JakubKanaVSE commented on #32
I've tried with updated ontology https://code.google.com/p/public-contracts-ontology/source/browse/public-contracts.ttl

retest this triple

<http://linked.opendata.cz/resource/ted.europa.eu/business-entity/029cbd15-c593-47c3-85cd-61cc6b7956f7> <http://purl.org/procurement/public-contracts#profile> "www.e-licitatie.ro"^^<http://www.w3.org/2001/XMLSchema#anyURI> .

and I still get same error as in

[2015-03-13 17:03] jimkont commented on #32
How did you perform the evaluation? Command line or Web interface?

[2015-03-13 17:39] JakubKanaVSE commented on #32
I am using Command line testing on virtualized linux system.

[2015-03-13 17:47] roland-c commented on #32
Hi Jakub,

I think pc:profile is still evaluated as an object property since it is
defined as a subPropertyOf foaf:homepage, which is defined as an
InverseFunctionalProperty, i.e. an object property. [1]
If you remove the triple:
pc:profile rdfs:subPropertyOf foaf:homepage .
from your ontology the error will be gone, probably .... ;-)

Roland

  [1] http://xmlns.com/foaf/spec/#term_homepage

On 13

[2015-03-13 22:02] jimkont commented on #32
can you add `-C` or `--no-test-cache` as validation arguments and tell me
if it works?
I cache the generated tests for each schema and probably uses the previous
vocabulary version

[2015-03-14 09:12] jindrichmynarz commented on #32
@roland-c: If the data is tested against Public Contracts Ontology only, then I presume RDFUnit should draw no constraints from other vocabularies, such as FOAF.

@JakubKanaVSE: Can you test if RDFUnit stops reporting this as an issue if you remove the `pc:profile rdfs:subPropertyOf foaf:homepage .` triple in your local copy of Public Contracts Ontology?

[2015-03-14 16:32] JakubKanaVSE commented on #32
@jindrichmynarz when I deleted rdfs:subPropertyOf foaf:homepage . error still occurs even without this triple.

@jimkont  tried with these arguments and I still got the error its weird only way it works is as I wrote before when triple look like this if it helps.
http://linked.opendata.cz/resource/ted.europa.eu/business-entity/029cbd15-c593-47c3-85cd-61cc6b7956f7 http://purl.org/procurement/public

[2015-03-15 09:23] jimkont commented on #32
Can you send me the exact arguments you use to run the evaluation?

[2015-03-15 15:48] JakubKanaVSE commented on #32
bin/rdfunit -d ../data/TED_export/F04/dump04_one.nt -s ../data/public-contracts.ttl -o html

[2015-03-16 07:35] jimkont commented on #32
Since you run the evaluation with `-s ../data/public-contracts.ttl`, `foaf` is not loaded and `pc:profile rdfs:subPropertyOf foaf:homepage .` should not do anything (in RDFUnit).
However, this triple infers that `pc:profile a owl:inverseFunctionalProperty` and should be removed as well.
Just to make sure the caches are cleared correctly before I start digging in the code, is this how you run it wi

[2015-03-16 07:41] jindrichmynarz commented on #32
I'm confused: first you say that `pc:profile rdfs:subPropertyOf foaf:homepage .` should not infer anything if FOAF is not loaded, but then you say that `pc:profile a owl:inverseFunctionalProperty .` is inferred from this triple. Why is that?

[2015-03-16 07:50] jimkont commented on #32
In this setting only the pc vocab is used for validation (with -s) and
RDFUnit does not download foaf.
So with these arguments foaf is not used from RDFUnit.

If foaf was specified or -s was skipped and selected automatically then we
would have the same error.

Since foaf:homepage is also an inverse functional property a reasoner would
still infer that pc:profile is an object property.

[2015-03-16 08:01] jindrichmynarz commented on #32
Sure, I get that when RDFUnit takes FOAF into account, then `pc:profile a owl:ObjectProperty` is inferred. However, I got the impression that @JakubKanaVSE is skipping FOAF, so it shouldn't be inferred.

Anyway, as we've seen `pc:profile rdfs:subPropertyOf foaf:homepage` is not a good idea, so I [removed this assertion from the Public Contracts Ontology](https://github.com/opendatacz/public-contra

[2015-03-16 16:47] JakubKanaVSE commented on #32
@jimkont @jindrichmynarz  I've tried it already before and now again it still doesn't work properly
1) tried -C argument and --no-test-cache argument still get the error
2) error is still rasied even without pc:profile rdfs:subPropertyOf foaf:homepage but I ve already tried that
3) I also tried to remove any foaf:page elements error is still there

[2015-03-16 17:13] jimkont commented on #32
Maybe I got a hint on the bug, can you please delete all contents of the
directory `data/results/Schema/*` and try again?

If it still doesn't work please copy the contents of the RDF you test to
try it locally

[2015-03-16 18:31] JakubKanaVSE commented on #32
@jimkont Well what you suggesting was the first thing I've done before I got tip to write here an issue I've tried it one more time now and only thing I get now is some "new" errors

james@james-virtual-machine ~/RDFUnit $ bin/rdfunit -d ../data/TED_export/F04/dump04_one.nt -s ../data/public-contracts.ttl -o html -C
java.lang.RuntimeException: HttpException: org.apache.http.conn.HttpHostConnectExc

[2015-03-16 18:47] roland-c commented on #32
Hi Jakub,

The error is about the service lov.okfn.org that is down... [1]
We need to wait for it to get back up again, or specify the schema's
involved by hand ...

Best regards
Roland

[1] https://twitter.com/metamatterNL/status/577452508638896128

On 16-03-15 19:31, Jakub Káňa wrote:

--
Signature Metamatter/Roland Cornelissen
metamatter*| *Drs. Roland Cornelissen*| *Weersterweg 12*| *9832TE*|

[2015-03-16 18:50] JakubKanaVSE commented on #32
https://github.com/opendatacz/public-contracts-ontology well I thought I was doing it by specifiying downloaded .ttl file

bin/rdfunit -d ../data/TED_export/F04/dump04_one.nt -s ../data/public-contracts.ttl -o html

[2015-03-17 08:13] #32 closed

[2015-03-17 08:16] jimkont commented on #32
Sorry @JakubKanaVSE I thought it was a cache issue but it was a bug in the test generators.
`xsd:anyURI` was a common error and I tried to put some exceptions around it which also introduced a bug.

run `git pull` and the first time you run RDFUnit again use `bin/rdfunit-dev` to recompile the changes
after that you can use `bin/rdfunit` again

[2015-03-17 09:07] #7 closed

[2015-03-17 16:35] JakubKanaVSE commented on #32
I've retested and it works correct now. Thank you for your help.

[2015-03-18 19:38] AndreAga opened #33 "CLI Connection Refused"
Hi, I'm trying to execute RDFUnit via CLI whit this command:

bin/rdfunit -d /...../Dataset.rdf -o ttl

I get this error:
[code]

[2015-03-18 21:24] roland-c commented on #33
Hi Andrea,

The service lov.okfn.org is offline, that' s what the error is about.
We need to wait untill it is online again.

Best,
Roland

On 18-03-15 20:38, Andrea Agazzone wrote:

--
Signature Metamatter/Roland Cornelissen
metamatter*| *Drs. Roland Cornelissen*| *Weersterweg 12*| *9832TE*| *Den
Horn*| *T +31 (0)50 5515369*| *M +31 (0)6 14797518*| *www.metamatter.nl
<http://www.metamatter.nl>

[2015-03-18 21:27] AndreAga commented on #33
Hi Roland, thanks.
Can I know what type of service is? What does it provide?

[2015-03-19 16:01] roland-c commented on #33
LOV is Linked Open Vocabularies which is a service maintained by OKFN that provides an api for resolving vocabularies. Sadly enough it is hacked days ago and it is unclear when it will come up again.

[2015-03-25 13:34] jimkont opened #34 "Remove the dependency to LOV for every validation"
LOV is not very stable any more and results in failed RDFUnit executions.
instead generate and store the vocabulary metadata offline and save them as a Java resource which will be updated before each release

[2015-03-25 13:42] rtroncy commented on #34
This is quite a strong statement. LOV had difficulties over the last few weeks due to attacks on OKFN servers and lack of response from the OKFN team. The LOV team aims definitively to be responsive and reliable. I suggest you discuss this issue with @pyvandenbussche

[2015-03-25 14:38] jimkont commented on #34
LOV is a great service and I plan to continue depending on it.
What happens now is that RDFUnit calls LOV at the start of every evaluation and if it fails we cannot do any prefix dereferencing or auto schema discovery.
This task is about to cache the vocabularies locally for faster access and give the option to additionally call LOV for up-to-date data. So calling the online service would be optio

[2015-03-25 15:43] jimkont commented on #34
BTW, @pyvandenbussche I again had to put the internal LOV URI to get results from the endpoint https://github.com/AKSW/RDFUnit/commit/6d0a0be2c055c2ccca08328f3a43eb0e0fa5f0c3 :
http://s110.okserver.org:3030/lov/sparql

[2015-03-25 15:47] pyvandenbussche commented on #34
Hi Dimitris,

that sounds like a very sounded approach. Having a cache in case LOV is not available and in case id is, run the query live.

I will look at the URI again. You can as well now consider using the LOV Linked Data Fragment https://plus.google.com/+PierreYvesVandenbussche/posts/Bb3dRqCp3hi

Cheers.

[2015-03-25 18:26] jimkont commented on #34
FYI, I already had caching on the client with 1 week expiration and this
issue is about putting the cache directly in the repo

[2015-03-26 23:06] AndreAga opened #35 "RDFUnit extendedResults are not ordered"
Hi, after some tests, I notice that if rdfunit doesn't find errors the output is like that:

[code]

But if the tool finds errors the output is like that:

[code]
Is there a way to put the "summary" on the top of the file? after the prefixes?

[2015-03-27 08:06] jimkont commented on #35
Hi Andrea,

This happens because RDF does not guarantee ordering and when we save as
TURTLE any resource can be anywhere in the file
If you want to read the overview results you can use the
DatasetOverviewResults class

an example on how this is used can be found in
https://github.com/AKSW/RDFUnit/blob/master/rdfunit-validate/src/test/java/org/aksw/rdfunit/validate/integration/PatternsGeneratorsIn

[2015-03-27 10:26] AndreAga commented on #35
Hi Dimitris, thanks a lot :)

I noticed another strange thing..
I save the result in ttl format in a file, but I need to execute SPARQL query, so I create a Repository (with openRDF) and load the RDFUnit file. This file produces a parsing error when it tries to load this:

<http://rdfunit.aksw.org/data/results#9e0d1796-2acd-11b2-805b-aa98dd5aae63/9e0d4cdd-2acd-11b2-805b-aa98dd5aae63>
        a

[2015-03-27 10:38] jimkont commented on #35
I always expect a resource for this but here we got a Literal. RDFUnit tries to convert that into a resource which results in something invalid.
I have to fix this into the code and skip `rlog:resource` / `spin:violationRoot` in these cases

[2015-03-27 10:49] jimkont commented on #35
I committed a fix, can you try?

[2015-03-27 10:54] AndreAga commented on #35
I got:
[code]

The line is this: assert result != null;

[2015-03-27 11:25] jimkont commented on #35
Can you try again?

[2015-03-27 11:36] AndreAga commented on #35
Thanks, now it works. I go on making some tests, if I will find other errors, I will report them here.

[2015-03-27 11:51] #35 closed

[2015-03-27 15:32] roland-c commented on #34
Since LOV has been down lately the adress of the sparql endpoint is changed, also an additional graph specification is needed in the query. The following changes must be made to fix this:

https://github.com/AKSW/RDFUnit/blob/master/rdfunit-core/src/main/java/org/aksw/rdfunit/Utils/RDFUnitUtils.java#L105 >>
Source lov = new EndpointTestSource("lov", "http://lov.okfn.org", "http://lov.okfn.org/data

[2015-03-31 11:33] pyvandenbussche commented on #34
Hi Dimitris,

I've cleaned the way to access LOV sparql endpoint. I blocked the internal URL and now the only URL for LOV endpoint is: http://lov.okfn.org/dataset/lov/sparql

This URL will not change in the future.

[2015-03-31 12:50] jimkont commented on #34
Hi @pyvandenbussche
I changed the new URL and I get the following error
[code]
also make sure you allow the additional url parameters `default-graph-uri` & `named-graph-uri` to be passed to the internal endpoint

[2015-03-31 12:56] jimkont commented on #34
IIRC we had the same problem before and you told be it was a jena v2.11 vs v2.12+ issue

[2015-03-31 12:59] pyvandenbussche commented on #34
I try to find back our discussion on that topic to see what was the solution :)

[2015-04-01 11:21] AndreAga commented on #34
@jimkont The LOV SPARQL Endpoint seems to be unattainable.

[2015-04-01 13:38] pyvandenbussche commented on #34
Now everything is working using the permanent URL: http://lov.okfn.org/dataset/lov/sparql
Thanks @jimkont for your help.

[2015-06-05 06:43] jimkont opened #36 "support owl:hasValue"

[2015-08-11 12:47] neradis opened #38 "owl:complementOf Autogenerator fails on anonymous class declarations for the complement"
One example of problematic schema specification from the current NIF Core ontology:

[code]

When the autogenerator tries to generate the `?DESCRIPTION`, this fails with the Jena
SPARQL engine (probably because it cannot come up with a `str(...)` value for a bound
blank node in `?T1`:
[code]
Resulting in the error message:
`[ERROR TestAutoGenerator] No ?DESCRIPTION variable found in AutoGenerator:

[2015-08-11 13:00] neradis commented on #38
I pushed a suggested adjustment for for the OWLCOMPL generator that handles the aforementioned anonymous complement classes without error in 314aedd92494424f3859c94793af487567444992

[2015-08-11 14:15] neradis opened #39 "More transparent facilites to specify local alternatives for LOV schema locations for CLI"
Currently, when I want to use, for example a local version of the NIF core ontology instead of the official version at `/opt/nif-core.ttl`, I can declare this using:
`bin/rdf-unit -s /opt-nif-core.ttl -d /opt/nif-doc-to-test.ttl`

But if I use a file URL, the initialisation fails - a `org.aksw.rdfunit.io.reader.RDFDereferenceReader` and `org.aksw.rdfunit.io.reader.RDFaReader` are tried, which both

[2015-08-12 14:14] jimkont commented on #38
Thanks for the PR but I usually skip the tests with blank nodes as the cannot actually run on the datasets
e.g. https://github.com/AKSW/RDFUnit/blob/master/configuration/autoGeneratorsOWL.ttl#L42
so I'd change that to FILTER (!isBlank(?T1) && !isBlank(?T2) )

[2015-08-14 13:48] #38 closed

[2015-08-21 13:50] fcbr opened #40 "HasNoModelException thrown analyzing skos.rdf"
We were getting this error and were able to narrow down to just SKOS, as follows.  Any ideas of what's the issue here?

[code]

[2015-08-21 20:19] #40 closed

[2015-08-21 20:21] jimkont commented on #40
under heavy refactoring atm and introduced a new bug :)
let me know if the commit fixes the problem

[2015-09-01 13:25] k00ni opened #41 "RDFUnit Demo page: undefined prefix https"
I want to use the following URI for test data: https://raw.githubusercontent.com/GeoKnow/GeoQuality/master/GeoKnow-SpatialDQ/datacubes/NUTS/NUTS-metric1-6.ttl

Its a ttl-file located at Github. I selected at your RDFUnit demo page **http://rdfunit.aksw.org/demo/** the Data Selection setting **Direct Input**. After clicking to **Load** the following error appears:

What am i doing wrong?

[2015-09-01 13:28] k00ni commented on #41
Sorry for the overhasty issue, i had to choose **remote file** instead of **direct input**. My bad.

[2015-09-01 13:28] #41 closed

[2015-09-01 13:28] jimkont commented on #41
you should change the option to `remote files` and use the URI or leave `direct input` but paste the RDF data in the textbox

[2015-09-01 13:28] jimkont commented on #41
no worries :)

[2015-09-02 07:15] jimkont opened #42 "remove dependencies from maven.aksw.org"

[2015-09-02 07:16] jimkont opened #43 "Upload rdfunit artifacts to maven central"

[2015-09-02 09:02] jimkont commented on #42
closed with d82e229077909680ac256f28a21eefad57022ed7

[2015-09-02 09:02] #42 closed

[2015-09-04 09:26] #43 closed

[2015-09-11 07:57] jimkont opened #44 "Make html report more LD friendly"
The idea is that instead of creating html directly, embed the the results as JSON-LD in the html and use some js for creating / displaying / filtering the table

this was created by @chile12
http://jsfiddle.net/7WQjr/960/

[2015-09-11 08:00] jimkont opened #45 "Use OWL2SPARQL as an alternative test generator"
https://github.com/AKSW/OWL2SPARQL (Created by @LorenzBuehmann )
has complete OWL coverage (compared to the limited provided by the pattern based approach)
On the other hand it does not allows the injection of annotations provided by the existing patterns / generators.
Both approaches could co-exist and the user can select

[2015-09-11 08:02] jimkont commented on #26
@chile12 care to give it a shot?
I see that dataID has such definitions which are not supported at the moment

[2015-09-11 08:04] jimkont opened #46 "support owl:allValuesFrom"

[2015-09-11 08:05] jimkont opened #47 "support owl:someValuesFrom"

[2015-09-16 10:04] jimkont opened #48 "make owl:imports in ontologies more transparent in testing"

[2015-09-18 19:51] pepperbob opened #49 "JUnit Integration"
We're currently using RDFUnit mainly to test if our transformations are producing RDF that complies to an underlying ontology. The current solution feeds single RDF files (effectively as Jena-Models) - that are produced by an external resource - to RDFUnit one-by-one using a parameterized JUnit-Test. Due to the long running process (~10 minutes ATM) this is usually executed by the CI-System where

[2015-09-21 14:00] pepperbob opened #50 "Resource Filtering"
While writing input/drafts for #49 we encountered issues with writing Tests. Problem is that the Module `rdfunit-resources` is required but this won't work unless Maven copied certain resources from the `/configuration` folder to the appropriate package in `/rdfunit-resources/src/main/resources`.

To run Unit-Tests without the requirement to invoke Maven beforehand, specific resources should be ma

[2015-09-21 14:03] pepperbob commented on #50
Just noticed the `data/tests` folder is part of the artifact of rdfunit-resources; is this how it's meant to be?

[2015-09-21 14:22] jimkont commented on #50
On every re-build all patterns/generators and manual tests are copied to related java resources folders.
This was done to make it easier for people to locate specific files. e.g.
* `configuration/*` for patterns & generators or
* `data/tests/manual/*' for manual tests

This can be inconvenient a few times but didn't find a better alternative so far. Suggestions are of course welcome

[2015-09-21 14:27] dhiller commented on #50
Wouldn't it be better if the files are found where they should reside, and the README documents where they are? This way you could just skip the copy-resources.

[2015-09-21 14:30] jimkont commented on #50
No strong opinion so fine by me. See you already work on a PR on this, feel free to submit :)

[2015-09-24 07:57] dhiller opened #52 "JUnit integration - Lazy creation of input models"
ATM the input models are eagerly created, this could be deferred to directly before running the test case against the input model.

[2015-09-24 10:46] pepperbob opened #53 "RDFUnit-Junit support @Ignore"
Support JUnit's `@Ignore` annotation on TestInput-method- and class-level.

[2015-09-24 10:52] pepperbob commented on #52
Currently, if only one of the `@TestInput`-methods throws an error (e.g. RDF is not parsable), we propagate an InitializationError which stops the entire Runner from executing any tests at all.

In case the `@TestInput`-method fails, the entire TestSuite should be marked as "skipped" - the error message should be shown though (objections?).

[2015-09-24 18:47] dhiller commented on #49
I think we can close this issue now :)

[2015-09-24 22:48] #49 closed

[2015-09-25 09:01] #52 closed

[2015-09-26 09:19] #50 closed

[2015-09-26 09:56] #33 closed

[2015-09-30 11:52] #53 closed

[2015-09-30 12:40] pepperbob opened #57 "Test Coverage Metrics"
We're having the rdfunit-junit integration up and running which provides us with a good overview of failing test cases, esp. in conjunction with IDE and/or CI-server. If  a test is "red" we can trust something broke.

However, the issue with "green" tests is, that we actually do not know why it is green: could be data that's valid according to the test case or maybe because there's no data to vali

[2015-09-30 15:10] jimkont commented on #57
TestCoverageEvaluator was created at the very first beginning of the project and not used since. I updated the code a bit to make not throw errors.

It is still not working correctly but now shows some (wrong) output when you pass `-c` as a CLI parameter
[code]
if this is updated to provide the correct numbers it could probably handle your use case.
Each metric measures a specific test coverage ac

[2015-10-01 07:53] jimkont commented on #57
Note that, ideally, the metrics should be identified by doing pattern identification inside the SPARQL queries.
This would also work on non pattern-based test cases or pattern-based test cases where the pattern is not associated with coverage metrics.
However, this approach handles most cases easily.

[2016-01-23 20:24] roland-c opened #58 "Compile error"
When testing the build there is an error:
java.lang.NoClassDefFoundError: org/hamcrest/SelfDescribing
Caused by: java.lang.ClassNotFoundException: org.hamcrest.SelfDescribing

Results :

Tests in error:
  PrefixNSServiceTest.initializationError » NoClassDefFound org/hamcrest/SelfDes...

Tests run: 1, Failures: 0, Errors: 1, Skipped: 0

[INFO] -------------------------------------------------------

[2016-01-24 15:08] jimkont commented on #58
Thanks for the report @roland-c
the latest build is compiling fine: https://travis-ci.org/AKSW/RDFUnit
can you pull and test again?

[2016-01-24 23:20] roland-c commented on #58
Not sure what the problem is but the error remains:

roland@kblod:/opt/rdfunit$ git pull
Already up-to-date.
roland@kblod:/opt/rdfunit$ mvn clean install
[INFO] Scanning for projects...
[INFO] Reactor build order:
[INFO]   RDFUnit - Parent
[INFO]   RDFUnit - Commons
[INFO]   RDFUnit - IO
[INFO]   RDFUnit - Manual Tests
[INFO]   RDFUnit - Model
[INFO]   RDFUnit - Core
[INFO]   RDFUnit - Validate
[I

[2016-01-24 23:20] #58 closed

[2016-01-25 04:32] jimkont commented on #58
Strange... Can you delete your ~/.m2 folder and retry?

[2016-01-25 09:16] roland-c commented on #58
That did the trick, thanks Dimitris!

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESSFUL
[INFO] ------------------------------------------------------------------------

[2016-01-25 09:51] roland-c commented on #58
But the when I run ther is the next buikd error:

$ bin/rdfunit -d http://lod.kb.nl/nbc/ -e http://lod.kb.nl/sparql  -g http://lod.kb.nl/nbc/
[ERROR] BUILD ERROR

The log states:
10:22:15,625 WARN  NamespaceStatistics: Undefined namespace in LOV or schemaDecl.csv: http://www.w3.org/1999/02/22-rdf-syntax-ns#
10:22:15,626 WARN  NamespaceStatistics: Undefined namespace in LOV or schemaDecl.csv: http:

[2016-01-25 10:36] jimkont commented on #58
can you pull and give another shot?

[2016-01-25 10:46] roland-c commented on #58
Now that works, thanks man.

[2016-01-25 14:34] roland-c opened #59 "Build Error at end of run."
When a testrun is completed a build error is thrown.

[INFO  SimpleTestExecutorMonitor] Test 2366/2367 returned Errors: 0 / Prevalence: 0. Test: rutt:foaf-RDFSDOMAIN-MISS-ce32ce369944d467574430f8a2c9b638b535fa0981634f7176e007322a630a9d
[INFO  SimpleTestExecutorMonitor] Test 2367/2367 returned Errors: 0 / Prevalence: 0. Test: rutt:foaf-RDFSDOMAIN-MISS-892f44da16d3228153e3800c73194f447259e7e01b41f6a

[2016-01-25 14:56] roland-c commented on #59
When -o html,ttl is appended to the command the error is gone. So that's a required parameter (in some cases?)

[2016-01-25 15:04] jimkont commented on #59
`-o html` is the default output format and shoudn't interfere.
Did you close this by using explicit `-o` or for another reason?

[2016-01-25 15:12] jimkont commented on #59
asking because ATM RDFUnit is under a lot of refactoring and bugs are easy to slip out

[2016-01-25 15:49] roland-c commented on #59
The build error disappeared when explicit using -o
If -o should be the default option then there is a problem because when omitted the build error is thrown.

[2016-01-25 15:57] jimkont commented on #59
I cannot reproduce it, can you send me the exact input

[2016-01-25 16:09] roland-c commented on #59
I cannot find a log entry of it, it just said Build Error as shown above.

[2016-01-25 16:24] jimkont commented on #59
Meant to send me what exactly you run and get this error

[2016-01-25 18:24] roland-c commented on #59
Of course:
bin/rdfunit -d http://lod.kb.nl/nbc/ -e http://lod.kb.nl/sparql  -g http://lod.kb.nl/nbc/

[2016-01-26 09:01] jimkont commented on #59
still cannot reproduce, it runs fine locally
can you send me the log of a failed execution? should be in `rdfunit-validate/log/*`

[2016-02-15 19:35] jimkont opened #62 "SHACL support"
### Scopes (not thoroughly tested)
- [ ] sh:scopeNode
- [ ] sh:scopeClass
- [ ] sh:PropertyScope
- [ ] sh:InversePropertyScope
- [ ] sh:AllSubjectsScope
- [ ] sh:AllObjectsScope

### Filters
(not supported yet

### SHACL Core Elements  (not thoroughly tested)
- [ ]  sh:class
- [ ]  sh:classIn
- [ ]  sh:datatype
- [ ]  sh:datatypeIn
- [ ]  sh:directType
- [ ]  sh:equals
- [ ]  sh:hasValue
- [ ]  sh

[2016-02-15 20:25] akuckartz commented on #62
:+1:

[2016-02-20 10:28] chile12 commented on #62
awesome, good work

[2016-02-23 02:16] sandroacoelho opened #63 "Preconditions failure"
Hi,

I've found a small bug in TestExecutionImpl. It fails at [#L207](https://github.com/AKSW/RDFUnit/blob/939ae6e747859e422edfaa4b5c562ab68c01d8b6/rdfunit-core/src/main/java/org/aksw/rdfunit/tests/executors/monitors/SimpleTestExecutorMonitor.java#L207)  when the method testingFinished() is called. A value for ExecutionType is required for other methods that uses the same builder.

Could you, plea

[2016-02-23 07:15] jimkont commented on #63
I found the bug too and fixed it yesterday (before my PR) but forgot to push and that it why the PR failed :)
https://github.com/AKSW/RDFUnit/commit/a5bd2f1b6135e41e567a7fbe4e27c128cb17fdab

[2016-02-23 07:15] #63 closed

[2016-02-26 07:21] #20 closed

[2016-04-12 06:59] kaka7537 opened #65 "Want to see the triple with S,P,O"
![error case](https://cloud.githubusercontent.com/assets/7700725/14452009/6c02a5b0-00c6-11e6-84b8-fd5951f16e16.png)
In this screenshot, I can see some properties that occur errors. but I'd like to see the triple with S, P, O format that occur errors. For example,
S1 http://dbpedia.org/ontology/influencedBy O1
S2 http://dbpedia.org/ontology/influencedBy O2
S3 http://dbpedia.org/ontology/influencedB

[2016-04-13 08:43] jimkont commented on #65
Hi, RDFUnit can return results in different formats, see [here](https://github.com/AKSW/RDFUnit/wiki/Results) for examples.
 by default the results are stored in the folder `./data/results` in `html`, you can request other (multiple) formats with `-o ttl,html,...`

Does this cover your question?

[2016-04-13 08:47] jimkont commented on #65
in your case, if you want the whole triple you should use `-r extended` but note that this is not possible in all cases e.g. when something is missing.

[2016-04-13 10:18] kaka7537 commented on #65
Thank you for replying!
I added '-r extended' command. So I typed 'bin/rdfunit -d <MY_TTL_FILE> -r extended'. and the result is the picture below.
As you can see, it didn't show S, P, O.
![2](https://cloud.githubusercontent.com/assets/7700725/14490196/6ebce806-01ac-11e6-83c8-8706820de2ee.png)

[2016-04-13 10:26] jimkont commented on #65
if you look at my first comment: https://github.com/AKSW/RDFUnit/issues/65#issuecomment-209308238 you can get the results in different formats

[2016-04-13 10:26] kaka7537 commented on #65
'-o ttl' command show me the triple with S,P,O format. but this isn't what I expected to see.
I want to see the exact triples in my TTL file that occur errors.
for example, if 'http://dbpedia.org/ontology/country' property occurs 1 error, the machine extract that triple in my TTL file. like, <http://ko.dbpedia.org/resource/테네시_주>	<http://dbpedia.org/ontology/country>	<http://ko.dbpedia.org/resourc

[2016-04-13 14:59] jimkont commented on #65
Does this solve your problem? You cannot always know all `s|p|o`, sometimes you know only `s` and other only `s|p`

e.g. for `minCount 1 for ex:prop` constraints violations you can only tell `s|p` not 'o'

[2016-05-20 10:53] seebi opened #66 "Re-activate or document custom SPARQL query support"
Dimitri, I know you work on SHACL but to have support for custom queries is an important feature and would ease up a lot here at eccenca. Let us talk how to re-activate or use that please :-)

[2016-05-20 11:19] der-bruemmer commented on #66
Essentially we need a way to add a (number of) turtle files with manual test case definitions using SPARQL queries to a test run.

[2016-05-20 11:27] seebi commented on #66
Even a single turtle file would do the job :-)

[2016-05-20 11:41] hknochi commented on #66
+1

[2016-05-20 11:53] TheRojam commented on #66
+1

[2016-05-20 12:00] jimkont commented on #66
I never stopped support for those :)

`org.aksw.rdfunit.model.readers.BatchTestCaseReader` can be used to read RDFUnit TestCases from a jena `Model`. which returns a collections of `TestCase` objects

The results can be wrapped in a TestSuite and validate a dataset

[2016-05-20 12:02] jimkont commented on #66
I guess I should run by default on the input schemas if this is what you need and add these tests to the ones we get from the autogenerators

[2016-05-20 12:42] #66 closed

[2016-06-08 10:42] jimkont commented on #65
feel free to re-open if that solution does not cover your issue

[2016-06-08 10:42] #65 closed

[2016-06-08 10:44] #4 closed

[2016-06-08 10:44] #15 closed

[2016-06-08 10:44] #22 closed

[2016-06-08 10:44] #23 closed

[2016-06-08 10:45] #59 closed

[2017-02-10 15:04] nandana commented on #62
:+1:

[2017-07-12 13:35] neradis opened #68 "declaration of 'partial' constraint components"
The way the min-count cardinality constraint is currently implemented, there are two separate instances of `sh:ConstraintComponent`, there are cases when only for one or for none of the two the defined validator is applicable. Currently, the `ConstraintFactory` throws a warning that no validators can be found, but here it seems sound to have non-total constraint components, for which a query for v

[2017-07-12 13:44] neradis commented on #68
I pushed commit implementing the suggestion to the branch [issue-68-partial-constraint-components](8c5deeb02f1763f573956445523544d5c88f4584)

[2017-07-13 13:09] jimkont commented on #68
made a pull request and merged your branch, thanks @neradis !

[2017-07-13 13:09] #68 closed

[2017-08-09 13:15] kurzum opened #71 "order manual tests alphabetically, if possible"
find the piece in the code and order them

[2017-08-10 22:46] gcpdev commented on #71
done with commit [bb40995](https://github.com/AKSW/RDFUnit/commit/bb4099559b33def84eb3c3be3634a26ce71735f9)

[2017-08-10 22:46] #71 closed

[2017-08-19 14:14] jimkont commented on #62
Hi, for those following this issue (cc/ @akuckartz , @nandana , @chile12 , @gcpdev, @seebi) the description is now updated to the latest SHACL support from RDFUnit. Thanks to @neradis  an implementation report will be submitted soon and a new artifact will be published to maven central after some polishing. Until then, you can use latest master branch for testing.

Any feedback / bug reports are m

[2018-01-16 18:42] raedtjr opened #77 "[ERROR ValidateCLI] Error: Required arguments are missing."
When trying this simple [example](https://github.com/AKSW/RDFUnit/wiki/CLI) by typing : `bin/rdfunit -e http://dbpedia.org/sparql` I got this error which I can not resolve.

`[INFO  RDFUnitUtils] Loaded 614 additional schema declarations from LOV SPARQL Endpoint
[ERROR ValidateCLI] Error: Required arguments are missing.
org.aksw.rdfunit.validate.ParameterException: Error: Required arguments are mi

[2018-01-17 13:33] jimkont commented on #77
you need to pass the `-d` option which refers to the dataset IRI.
in this case it would be for instance `bin/rdfunit -d http://dbpedia.org -e http://dbpedia.org/sparql`

for simple cases we could simplify this and reuse the sparql endpoint IRI as dataset IRI
can you please confirm?

[2018-01-17 13:44] raedtjr commented on #77
Thank you for your answer. I tried your suggestion and I got this exception
`[INFO  ValidateUtils] Searching for used schemata in dataset
java.lang.RuntimeException: java.lang.RuntimeException: HttpException: HttpException: 500 HTTP 500 error making the query: SPARQL Request Failed: HTTP 500 error making the query: SPARQL Request Failed HTTP 500 error making the query: SPARQL Request Failed
`
What

[2018-01-17 13:50] jimkont commented on #77
yes, if you don't specify the schemas you want explicitly with `-s`, RDFUnit tries to find them from the database and makes an expensive query on the endpoint.
DBpedia has some limits for fair use and that is why you get this error

better experiment on a local endpoint

[2018-01-17 13:50] #77 closed

[2018-01-17 13:54] raedtjr commented on #77
Could you please give some suggestions how to experience it on a local endpoint ?

[2018-01-17 13:57] jimkont commented on #77
you can install a triplestore on your local machine, load some data that you want to test and then use an endpoint like `http://localhost:port/sparql` on RDFUnit.

You can google on how you can do that.

Otherwise, you can pass an RDF file directly on RDFUnit for testing with just the `-d` option

[2018-01-17 15:18] raedtjr commented on #77
Thank you for the information :)

[2018-01-20 14:10] jimkont opened #78 "Reusing sh:path nodes"
SHACL expects all values of complex sh:path to be unique blank nodes and not be reused across results, RDFUnit reuses the path nodes across results. Result are identical but graph is not isomorphic.

[Example from RDFUnit](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-w3c-tests/tests-results-nonconformant/partial/core_path_path-complex-002.ttl.actual.ttl) and [expected results from SHACL](ht

[2018-01-20 14:13] jimkont opened #79 "sh:node and sh:and return subresults"
Referenced shapes from constraints such as sh:node and sh:and should report only one high level failing result and not detailed results
[Example from RDFUnit](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-w3c-tests/tests-results-nonconformant/partial/core_node_and-001.ttl.actual.ttl) and [expected result from SHACL](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-w3c-tests/tests-results-

[2018-01-20 14:14] jimkont opened #80 "Result Set vs List"
RDFUnit by design returns results as Set (no duplicates) but SHACL requires duplicates for conformance.
[Example from RDFUnit](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-w3c-tests/tests-results-nonconformant/partial/core_property_lessThan-002.ttl.actual.ttl) and [expected results from SHACL](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-w3c-tests/tests-results-nonconformant/partial/

[2018-01-20 14:16] jimkont opened #81 "sh:value in SPARQL-based Node constraints"
For custom sparql-based constraints that are used in `NodeShape`s, `sh:value` is not set correctly in results

[2018-01-20 14:17] jimkont opened #82 "Special SELECT variables set with AS are ignored"
SPARQL constraints such `SELECT ?this ?x AS ?path … {...}` should bind values of `?path` to `sh:resultPat`h in the results and override the default path. Similar variables are `?value`, `?focusNode`
E.g. see [example from RDFUnit](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-w3c-tests/tests-results-nonconformant/partial/sparql_node_sparql-003.ttl.expected.ttl) and [expected results from SHA

[2018-01-20 14:20] jimkont opened #83 "Special cases of prebinding not supported"
Due to SPARQL variable scoping, pre-bound variables need to be injected in all SPARQL BGP  sub groups. Common constraints are not affected.
Some cases it affects are some constraints in shapes that are defined with `sh:targetNode` targets.

[2018-01-20 14:22] jimkont opened #84 "only exact language matches with sh:languageIn"
`sh:languageIn` expects languages such as `@en` to also match values like `@en-GB` (similar behavior to SPARQL [langMatches()](https://www.w3.org/TR/sparql11-query/#func-langMatches) function)

ATM RDFUnit supports only exact language matches

[2018-01-20 14:23] jimkont opened #85 "sh:or constraints not supported"
Although, simple cases can be rewritten with other shacl constructs and be more efficient

[2018-01-20 14:23] jimkont opened #86 "sh:xone constraints not supported"
Although, simple cases can be rewritten with other shacl constructs and be more efficient

[2018-01-20 14:24] jimkont opened #87 "sh:not constraints not supported"

[2018-01-20 14:24] jimkont opened #88 "sh:qualifiedValueShape constraints not supported"

[2018-03-11 15:40] #78 closed

[2018-06-28 13:43] jimkont opened #90 "Allow relative paths in command line configuration when specifying -s"
see discussion in  https://dbpedia.slack.com/archives/C886P3ZLH/p1530177956000121 for details

[2018-09-17 14:02] seebi opened #91 "Automatic Constraint Detection based on RDFS/OWL broken"
## Expected Behavior

The "Automatic Constraint Detection based on RDFS/OWL (with CWA)" should fetch constraints from LOV

## Actual Behavior

In our instance (https://rdfunit.eccenca.com/rdfunit/)  this feature does not work anymore.

## Steps to Reproduce the Problem

  1. go to https://rdfunit.eccenca.com/rdfunit/
  1. test something with Automatic Constraint Detection
  1. no constraints are f

[2018-09-23 13:06] #34 closed

[2018-10-24 05:29] ajs6f opened #92 "ShEx support?"
Hi, just a quick question here: is AKSW interested in ShEx support in the future? (I could not any mention in the documentation I read: my apologies if I missed it and am asking a question that has already been answered.)

[2018-10-24 06:29] jimkont commented on #92
yes, this is on the future plans (but indeed not yet written anywhere besides oral discussions).
I was thinking to integrate with ShExJava or Shaclex instead on a first iteration but haven't got the time to look into that yet

[2018-10-24 10:04] ajs6f commented on #92
Good to hear, thanks! ShExJava now uses Apache Commons RDF, which would give you a bit of flexibility, but I don't know how interesting that is to you.

[2018-10-24 15:16] jimkont commented on #92
Thanks for the heads up!
Another goal is to natively support RDF4J (in addition to Jena) so need to look at Apache Commons RDF anyway.

I would like to keep this issue open as a reminder and for others to discover easier so I am reopening it.

[2019-01-02 08:14] chile12 commented on #87
covered in branch: feature/ShaclLogicalConstraints

[2019-01-02 08:14] chile12 commented on #86
covered in branch: feature/ShaclLogicalConstraints

[2019-01-02 08:15] chile12 commented on #85
covered in branch: feature/ShaclLogicalConstraints

[2019-06-17 08:56] AchoArnold opened #95 "Unable to build project using docker."
## Expected Behavior
Docker build should be successfull

## Actual Behavior
Docker build fails with message `E: Sub-process /usr/bin/dpkg returned an error code (1)`

## Steps to Reproduce the Problem

  1. clone the repository
  1. run `docker build -t rdfunit .`

## Specifications

  - Version: master
  - Platform: MacOSX 10.14.5 (18F132)
  - Subsystem: Docker version 18.09.2, build 6247962

##

[2019-06-26 11:28] lisa-wen commented on #95
I experienced the same behavior under Debian. Adding the following line before `apt-get install maven`:

`mkdir -p /usr/share/man/man1mkdir -p /usr/share/man/man1`

solved it for me.

(Got it from here: https://github.com/nextcloud/docker/issues/380)

[2019-07-09 21:09] #95 closed

[2019-07-09 21:11] jimkont commented on #95
Thanks, @lisa-wen I applied your suggestion to fix the issue

@AchoArnold can you confirm that this solution works

[2019-07-10 02:22] AchoArnold commented on #95
Hello @jimkont,

I can confirm that this solves the issue. But I think you omitted `RUN` in the dockerfile. https://github.com/AKSW/RDFUnit/pull/96

[2019-07-10 06:20] jimkont commented on #95
when you edit directly from github without testing :man_facepalming:  :)

[2019-09-20 11:18] m1ci opened #97 "Question"
Is it possible to implement in SHACL/RDFUnit a validaiton rule that in the graph there must be 8 instances of some class?
Thanks!

[2019-09-20 11:39] jimkont commented on #97
I don't think this can be done in SHACL but in the RDFUnit test case format you can put any SPARQL query and that should be easily implemented

[2019-10-16 11:48] m1ci commented on #97
ok, thanks for the info.
Can you please provide a pointer to some hello world example of an RDFUnit test case?

[2019-10-18 14:33] gcpdev commented on #97
Here are some example tests that includes SPARQL queries:

https://github.com/dbpedia/ontology-tracker/blob/master/guidelines/dbo.tests.shapes.ttl

[2019-10-25 07:50] jimkont commented on #97
there are many examples in the [rdfunit-manual module](https://github.com/AKSW/RDFUnit/tree/master/rdfunit-manual-tests/src/main/resources/org/aksw/rdfunit/tests/Manual) as well. e.g. for [nif](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-manual-tests/src/main/resources/org/aksw/rdfunit/tests/Manual/persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core/nif.tests.Manual.ttl)

[2020-01-09 15:25] vemonet opened #98 "Issue"
## Expected Behavior

Using RDFUnit in a Kubernetes environment

## Actual Behavior

When running `bin/rdfunit` from inside a Docker container running in a Kubernetes pod we are facing the following issue:

[code]

## Steps to Reproduce the Problem

  1. Install kubectl and Argo on local machine (following this tutorial: https://maastrichtu-ids.github.io/dsri-documentation/docs/guide-local-install

[2020-01-09 15:34] vemonet commented on #98
Here is an example of a Dockerfile to build Java we use usually (1 stage with maven to build the jar, 1 stage with a light JRE to execute the jar : https://github.com/MaastrichtU-IDS/xml2rdf/blob/master/Dockerfile

Compiling a jar allow you to avoid any issues related to changing the path where the application is used within your container

[2020-01-13 14:25] vemonet commented on #98
I fixed RDFUnit to be packaged as a standalone jar in the RDFUnit Docker container. So using it from any path with any workdir set will work (available at https://hub.docker.com/repository/docker/umids/rdfunit )

What has been done:
* added the shade plugin from the profile `cli-standalone` to the default build plugins in the pom.xml (using profiles was not clear)
* rewriting the Dockerfile to bui

[2020-01-13 17:29] jimkont commented on #98
Thanks for the report @vemonet
I agree that using a fat jar is a better option for running RDFUnit in docker

I like your change, my only concern is that by adding the shade plugin inside the default maven profile, it will be running for every maven execution and possibly delay other dev processes.

We could easily add it in a separate profile (i.e. `standaloneJar`) and add `-PstandaloneJar` in th

[2020-01-14 07:44] vemonet commented on #98
Hi @jimkont , yes that was my thought also

I rewrote the change to edit only the Dockerfile to properly use the cli-standalone profile when running `mvn package`

See commit https://github.com/vemonet/RDFUnit/commit/2452b1b0c019524ba35e0e4f4368abd1776521d3

And see the Dockerfile: https://github.com/vemonet/RDFUnit/blob/develop/Dockerfile

I kept `/usr/src/myapp` as workdir, but we could use some

[2020-02-05 00:47] jeenbroekstra opened #101 "AggregatedTestExecutor (and other executors) do not properly close QueryExecutionFactory instances"
## Expected Behavior

`org.aksw.jena_sparql_api.core.QueryExecutionFactory` implements `AutoCloseable`. Any code that uses an instance of this class should take care that the `close()` method is called so that internal resources can be cleaned up. This can be achieved by either manually calling `close()` or by making the creation part of a try-with-resources construct.

## Actual Behavior

In seve

[2020-02-14 13:34] #101 closed

[2020-02-14 13:38] jimkont commented on #101
Thanks for the report @jeenbroekstra

I make `TestSource` AutoClosable which closes any open QueryExecutionFactory objects. When RDFUnit is used as a library the developer would be responsible for closing this (or instantiating it with try-with-resources).

Does this approach cover your use cases? if not, you can reopen the issue and we can find another solution

[2020-02-20 22:45] jeenbroekstra commented on #101
Thanks for looking into this @jimkont. I think your fixes cover some cases, but there are a few other places where autocloseables are leaking - mainly because they are being daisy-chained in the try block instead of independently assigned. Let me put a PR together for you.

[2020-02-20 23:01] jeenbroekstra commented on #101
Ah, hang on, I missed the bit where you fixed the close method in AbstractTestSource. Spoke too soon, this might cover our case (though part of the problem is that we use a custom implementation of TestSource that does _not_ inherit from AbstractTestSource).

[2020-02-21 10:14] jimkont commented on #101
Thanks! Any contribution/PR of of course more than welcome!

Would also be happy to refactor TestSource / AbstractTestSource if it results in a design that covers more use cases

[2020-05-28 13:37] reeshabhkumarranjan commented on #47
@jimkont me, @prince17086 and @guvi007 were thinking of working on this issue, which file/package should we look into for this?

[2020-05-29 10:23] jimkont commented on #47
That would be great! All the OWL-based generators are defined [here](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-commons/src/main/resources/org/aksw/rdfunit/configuration/autoGeneratorsOWL.ttl), you might also need to define a corresponding pattern [here](https://github.com/AKSW/RDFUnit/blob/master/rdfunit-commons/src/main/resources/org/aksw/rdfunit/configuration/patterns.ttl)

the main RD

[2020-07-30 11:20] k00ni commented on #98
What is the status here?

[2020-08-03 13:33] jimkont commented on #98
@vemonet can you check if we can close this issue? Is there anything else pending after your Merge request (https://github.com/AKSW/RDFUnit/pull/99)?

[2021-04-26 08:47] jorge-soria-sn opened #108 "Any plans to publish version 0.8.22 in the maven repo and as Docker image?"
Version 0.8.21 is currently published.

[2021-05-14 18:05] BonaBeavis opened #109 "Webservice does not build"
[code]
Result:

[code]

[code]
Result:
[code]

[2021-05-14 18:12] BonaBeavis commented on #109
`mvn clean install` built after setting JAVA_HOME to java8.
But then
[code]
Throws:
[code]

[2021-05-16 12:52] #87 closed

[2021-05-16 12:52] #86 closed

[2021-05-16 12:52] #85 closed

[2021-05-16 13:09] jimkont commented on #109
Thanks for the report, it was indeed an bug. we upgraded the jetty version recently which was not compatible with Java 8, I reverted to the previous version for now

[2021-05-16 13:14] #91 closed

[2021-05-16 13:14] jimkont commented on #79
fixed by @chile12 in master branch

[2021-05-16 13:14] #79 closed

[2021-05-16 13:37] jimkont commented on #108
yes, looking into that, working to solve some configuration issue for publishing to maven central

[2021-05-16 16:04] BonaBeavis commented on #109
Thanks, this helped, and I was able to start the jetty server, but navigation to it gives a 503.

[Here](https://github.com/AKSW/RDFUnit/files/6489537/report.txt) is the terminal output.

[2021-06-08 09:00] BonaBeavis opened #111 "Docker image for webservice"
We want to use RDFUnit in our project, for this I like to containerize the RDFUnit webservice.
I like to commit my work here, so  I have following questions:

1. On which branch/tag should I base my work?
2. Should I create a separate Dockerfile or extend the existing one?

[2021-06-08 09:14] TBoonX commented on #111
Ich benutze das vom AKSW. Beispiel:
image 'aksw/rdfunit'
args '--entrypoint=""
steps {
               // Cleanup of files from last job
                sh 'rm -fr  temp_ infered_classes.owl oops_result.xml OOPS_result.xml result.xml reports.txt all_reports.txt RDFUnit_errors_.txt RDFUnit_errors.txt RDFUnit_results.jsonld repo_clon'
                // Run RDFUnit
                sh 'java -jar /app/

[2021-06-08 09:29] BonaBeavis commented on #111
@TBoonX Wie funktioniert das als webservice?

Ich wollte den im wiki beschrieben [Webservice](https://github.com/AKSW/RDFUnit/wiki/WS) verwenden.

[2021-06-13 14:22] jimkont commented on #109
can you try running this from the `rdfunit-shacl-ws` directory? with e.g.

[code]

[2021-06-28 08:03] jaw111 opened #112 "Show actual latest release on Github homepage"
## Expected Behavior

On the project homepage https://github.com/AKSW/RDFUnit the latest release (currently v0.8.23) should be shown.

## Actual Behavior

Currently v0.7.4 is shown as the latest release.

## Steps to Reproduce the Problem

  1. Open https://github.com/AKSW/RDFUnit
  2. Look at the Releases widget
  3. See the latest release is shown as from 2015

![image](https://user-images.githu

[2021-06-30 06:25] jimkont commented on #112
Thanks for the report, I had experimented a bit with tag releases when github announced that feature but didn't continue using it consistently. Could not remove those releases but removed that widget from the home screen, hope that helps

[2021-07-28 08:13] TBoonX opened #113 "Result levels are different or not all existing comparing to the help text"
## Expected Behavior
That the four result levels named in the --help text are recognized.

## Actual Behavior
rlog and extended are not recognized: "Option --result-level defined but not recognised. Using 'aggregate' by default."

## Steps to Reproduce the Problem

  1. Run docker container: `docker run --rm -it -p 80:80 --entrypoint="" aksw/rdfunit /bin/bash`
  2. Execute RDFUnit with --result-le

[2021-07-28 13:38] jimkont commented on #113
If I remember correctly I had removed these options as deprecated in favor of `shacl-lite` (equivalent to rlog) and `shacl` (equivalent to extended).
these new formats provide the same level of detail and are also based on the SHACL vocabulary which makes them more compatible with other systems

[2021-07-28 13:42] #113 closed

[2021-11-14 16:03] BorderCloud opened #116 "There is a problem with maxCount ?"
## Expected Behavior

No error

## Actual Behavior

The RDFUnit report gives me:
`ERROR | Maximum cardinality for <http://daap.dsi.universite-paris-saclay.fr/wiki/Data:Organization#signature> is "1"^^<http://www.w3.org/2001/XMLSchema#integer> | http://daap.dsi.universite-paris-saclay.fr/wiki/Lip(Sys)2 | urn:uuid:6584ae0a-dc9d-4b71-8c2e-c835c90263f4`

Without the line with `sh:maxCount` in the shap

[2021-11-15 04:40] jimkont commented on #116
Thanks for the report, could you please send a sample of instance data that fail with this shape?

Technically, each constraint (e.g. maxCount, datatype) is evaluated independently of other constraints and combinations should not have side effects. I suspect there is some issue with the data that you are trying to validate but need to take a look at some passing/failing nodes

[2021-11-15 07:31] BorderCloud commented on #116
You can download these files:
- https://daap.dsi.universite-paris-saclay.fr/w/index.php?title=Data:Organization&action=raw&export=rdf
- https://daap.dsi.universite-paris-saclay.fr/w/index.php?title=Data:Lip(Sys)2&action=raw&export=rdf
- https://daap.dsi.universite-paris-saclay.fr/w/index.php?title=Data:Platform_Metabolism_Metabolom&action=raw&export=rdf

After, you can enable the constraint maxCou

[2021-11-15 07:56] jimkont commented on #116
tried the following limited example

schema.ttl
[code]

data.ttl
[code]

and running
[code]
does not return any error. Can you send a similar small example where the constraints fail to try and debug the problem?

[2021-11-15 08:01] BorderCloud commented on #116
Good news... Me too.
Yesterday, I fixed one hundred errors and this morning I test with all rules maxCount and now, the problem has disappeared.
It's probably a side effect when there are a lot errors...
Sorry for the inconvenience.

[2021-11-15 08:01] #116 closed

[2022-01-25 10:24] Dragos0000 opened #117 "replacing values from SPARQL based constraints in the sh:message"
Example of SHACL shape with SPARQL query

[code]

## Expected Behavior
Would expect the variable  {$lang} to be replaced in the sh:message from the SPARQL query.
ex: multiple skos-xl preferred label for language "en"

## Actual Behavior
In the validation process will get "multiple skos-xl preferred label for language \"{$lang}\"" message. The variable lang is not being replaced.

Is this supported

[2022-03-15 07:59] jimkont commented on #117
Hi @Dragos0000 I remember that the variable replacement was not fully implemented on the sparql constraints. The shacl core variables should be working fine though. Need to find some time and debug this but cannot guarantee how soon this can be implemented unless someone else is willing to take a look. Would be happy to guide in the later case

[2022-04-26 08:39] cosletmihai opened #119 "Default cache ignores `-T 0` setting"
## Expected Behavior
Based on the wiki page here https://github.com/AKSW/RDFUnit/wiki/SPARQL-Endpoints#default-cache , setting `-T 0` should disable validation cashing for SPARQL endpoints.

## Actual Behavior
Cashing still happens no matter what value I set to `-T`.

## Steps to Reproduce the Problem
Run the validation of a SPARQL endpoint using the `jar`

## Specifications

  - Version: `master`

[2022-07-15 12:11] TBoonX opened #121 "Object in blank node of testCase is artificial for SHACL NodeShapes"
## Expected Behavior
When using SHACL as manual written test cases, the predicate testCase should link to the SHACL NodeShape.

## Actual Behavior
Example:

`rut:testCase                  [ a  <urn:uuid:57cd8615-c40e-403a-b186-ffad62238c64> ] ;`

While the NodeShape is

`<https://github.com/AKSW/rdf-maturitylevel-pipeline/Metadata/OntologyShape>`

For ManualTestCase it does link to the existing UR

[2022-07-18 05:40] jimkont commented on #121
thanks for the reposrt, can you post an example input of a shapes/data graph that showcases the problem?

[2022-07-18 13:10] #119 closed

[2022-07-18 13:16] jimkont commented on #119
thanks for the report, I verified that the `-T 0` option was ignored and fixed it in master. For some reason, I didn't notice this issue when it was originally reported

[2022-07-19 13:15] TBoonX commented on #121
data.ttl:

[code]

shape.ttl:

[code]

[2022-09-09 13:29] seebi opened #122 "Feature: Allow for using bearer token with secured SPARQL endpoints"
## Expected Behavior

In the [coypu project](https://coypu.org/), we need to fetch data from graphs which are in SPARQL endpoints secured with OAUTH2 (client credential flow).

Given an available token, which is provided via an environment variable (e.g. `RDFUNIT_BEARER_TOKEN`), the expected behaviour of this feature is, that rdfunit uses this token to provide authentication to the endpoint.

This

[2022-10-12 13:49] mgns commented on #122
Draft implementation of this feature in https://github.com/mgns/RDFUnit/tree/feature/bearerTokenSupport